numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
tqdm==4.67.1
numpyro==0.18.0
arviz==0.17.1
cvxpy==1.6.5
ecos==2.0.14
scs==3.2.7.post2
matplotlib==3.9.4
jax==0.4.30
jaxlib==0.4.30
jax-cuda12-pjrt==0.4.30
jax-cuda12-plugin==0.4.30
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.8.93
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
setuptools>=68.0.0
wheel
